In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_json('G_water_1950-01-01_2018-06-22.json')
new_data = data.loc['timeSeries','value']

In [3]:
site_array = []
    for elmnt in new_data:
        new_dict = {
            'site_ID':elmnt['sourceInfo']['siteCode'][0]['value'],
            'site_lat': elmnt['sourceInfo']['geoLocation']['geogLocation']['latitude'],
            'site_lng': elmnt['sourceInfo']['geoLocation']['geogLocation']['longitude'],
            'srs': elmnt['sourceInfo']['geoLocation']['geogLocation']['srs'],
            'water_type': elmnt['sourceInfo']['siteProperty'][0]['value'],
            'mmt_type': elmnt['variable']['variableName'],
            'values': elmnt['values']
        }
        
        site_array.append(new_dict)

In [4]:
for site in site_array:
    for value in site['values']:
        del value['qualifier']
        del value['qualityControlLevel']
        del value['method']
        del value['source']
        del value['offset']
        del value['sample']
        del value['censorCode']

In [6]:
cleaned_site_array = []
for site in site_array:
    for values in site['values']:
        for value in values['value']:
            del value['qualifiers']
            cleaned_site_array.append(
                [site['site_ID'], 
                 site['site_lat'], 
                 site['site_lng'], 
                 site['srs'], 
                 site['water_type'],
                 site['mmt_type'],
                 value['value'],
                 value['dateTime']
            ])
df = pd.DataFrame(cleaned_site_array, columns=['site_ID', 'site_lat', 'site_lng', 'srs', 'water_type', 'mmt_type', 'value', 'dateTime'])
df.head(50)

,site_ID,site_lat,site_lng,srs,water_type,mmt_type,value,dateTime
0,344013120333601,34.670260,-120.561001,EPSG:4326,GW,"Depth to water level, ft below land surface",8.00,1953-07-01T12:00:00.000
1,344014120064601,34.670541,-120.113759,EPSG:4326,GW,"Depth to water level, ft below land surface",84.00,1958-01-01T12:00:00.000
2,344015120265101,34.670816,-120.448496,EPSG:4326,GW,"Depth to water level, ft below land surface",8.00,1955-11-01T12:00:00.000
3,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",26.12,1952-10-27T12:00:00.000
4,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",23.90,1953-03-31T12:00:00.000
5,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",25.99,1953-10-21T12:00:00.000
6,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",24.00,1954-03-04T12:00:00.000
7,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",26.69,1955-10-14T12:00:00.000
8,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",24.76,1957-04-02T12:00:00.000
9,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.79,1966-04-21T12:00:00.000
10,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",30.82,1973-06-26T12:00:00.000
11,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",31.44,1973-07-24T12:00:00.000
12,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",32.70,1973-08-28T12:00:00.000
13,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",34.20,1973-09-26T12:00:00.000
14,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",34.83,1973-11-06T12:00:00.000
15,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",34.47,1973-11-27T12:00:00.000
16,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.67,1974-01-02T12:00:00.000
17,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",30.57,1974-01-28T12:00:00.000
18,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",29.55,1974-02-26T12:00:00.000
19,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",28.55,1974-03-26T12:00:00.000
20,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",27.92,1974-04-26T12:00:00.000
21,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",31.48,1974-07-01T12:00:00.000
22,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.24,1974-08-06T12:00:00.000
23,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.70,1974-08-22T12:00:00.000
24,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",34.80,1974-09-27T12:00:00.000
25,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",35.00,1974-10-30T12:00:00.000
26,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",35.24,1974-11-27T12:00:00.000
27,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",32.72,1974-12-23T12:00:00.000
28,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",34.10,1975-01-29T12:00:00.000
29,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",31.40,1975-02-26T12:00:00.000
30,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",26.60,1975-03-27T12:00:00.000
31,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",26.97,1975-04-30T12:00:00.000
32,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",28.90,1975-07-01T12:00:00.000
33,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",30.60,1975-08-28T12:00:00.000
34,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",30.98,1975-10-01T12:00:00.000
35,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",31.67,1975-12-30T12:00:00.000
36,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",32.30,1976-01-23T12:00:00.000
37,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",30.58,1976-02-25T12:00:00.000
38,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",29.50,1976-03-24T12:00:00.000
39,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",30.42,1976-04-28T12:00:00.000
40,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.26,1976-05-24T12:00:00.000
41,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",32.18,1976-06-24T12:00:00.000
42,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",34.00,1976-07-27T12:00:00.000
43,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",34.23,1976-09-14T12:00:00.000
44,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.68,1976-10-06T12:00:00.000
45,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.19,1976-11-01T12:00:00.000
46,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.04,1976-11-23T12:00:00.000
47,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.55,1976-12-29T12:00:00.000
48,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",32.52,1977-01-26T12:00:00.000
49,344015120281801,34.670816,-120.472664,EPSG:4326,GW,"Depth to water level, ft below land surface",33.32,1977-03-01T12:00:00.000

In [9]:
df.to_csv('G_water_1950-01-01_2018-06-22.csv')